# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

outputs/

package-lock.json

uploads/

.vite/deps/_metadata.json

.vite/deps/chart__js.js

.vite/deps/chart__js.js.map

.vite/deps/chunk-73HNARDV.js

.vite/deps/chunk-73HNARDV.js.map

.vite/deps/chunk-KVCYZR2Q.js

.vite/deps/chunk-KVCYZR2Q.js.map

.vite/deps/chunk-PAGAYLEE.js

.vite/deps/chunk-PAGAYLEE.js.map

.vite/deps/p5.js

.vite/deps/p5.js.map

.vite/deps/package.json

.vite/deps/vue-chartjs.js

.vite/deps/vue-chartjs.js.map

.vite/deps/vue-router.js

.vite/deps/vue-router.js.map

.vite/deps/vue.js

.vite/deps/vue.js.map
